<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">

        <div class="card bg-dark text-white">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <div th:remove="tag">
                    <ul th:if="${autobus == null}" class="alert alert-danger" role="alert">
                        <li th:text="${'Error recuperando información del próximo autobús'}"></li>
                    </ul>
                </div>

                <form th:action="@{/autobus}" method="post">
                    <div class="form-group row">
                        <span th:for="autobus" class="col-xl-4 col-sm-12 col-form-label"
                            th:text="${'Posición del autobus para la línea: ' + linea.id.identificador}"></span>
                            <div class="col-sm-12">
                                <div th:if="${autobus != null}" style="height: 500px;">
                                    <span th:text="${'Matrícula del autobús ' + autobus.matricula}"></span>
                                    <input type="hidden" id="inpLatitud" th:value="${autobus.latitud}"></input>
                                    <input type="hidden" id="inpLongiutd" th:value="${autobus.longitud}"></input>

                                    <div id="map"></div>
                                </div>
                                <th:block th:if="${autobus == null}">
                                    Sin información del autobus
                                    <div id="map"></div>
                                </th:block>
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <a th:href="@{/}" class="mt-3 btn btn-primary btn-lg active" role="button" >Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
<script>
    function initMap() {
        let latitud = document.getElementById("inpLatitud").value;
        let longitud = document.getElementById("inpLongiutd").value;
        const coordenadasAutobus = new google.maps.LatLng(latitud, longitud);
        const map = new google.maps.Map(document.getElementById("map"), {
            center: coordenadasAutobus,
            zoom: 15,
        });
        const coordInfoWindow = new google.maps.InfoWindow();

        coordInfoWindow.setContent(createInfoWindowContent(coordenadasAutobus, map.getZoom()));
        coordInfoWindow.setPosition(coordenadasAutobus);
        coordInfoWindow.open(map);
        map.addListener("zoom_changed", () => {
            coordInfoWindow.setContent(createInfoWindowContent(coordenadasAutobus, map.getZoom()));
            coordInfoWindow.open(map);
        });
    }

    const TILE_SIZE = 256;

    function createInfoWindowContent(latLng, zoom) {
        const scale = 1;
        const worldCoordinate = project(latLng);
        const pixelCoordinate = new google.maps.Point(
            Math.floor(worldCoordinate.x * scale),
            Math.floor(worldCoordinate.y * scale),
        );
        const tileCoordinate = new google.maps.Point(
            Math.floor((worldCoordinate.x * scale) / TILE_SIZE),
            Math.floor((worldCoordinate.y * scale) / TILE_SIZE),
        );
        return [
            "Posición del autobús:",
            "Latitud, Longitud: " + latLng,
        ].join("<br>");
    }

    function project(latLng) {
        let siny = Math.sin((latLng.lat() * Math.PI) / 180);

        siny = Math.min(Math.max(siny, -0.9999), 0.9999);
        return new google.maps.Point(
            TILE_SIZE * (0.5 + latLng.lng() / 360),
            TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)),
        );
    }

    window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFawZUJa7W6QCBpDdT2aPD7GyOYlC7pzc&callback=initMap" type="text/javascript"></script>

<style>
    #map {
        height: 100%;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .gm-style-iw-d {
        color: black;
    }
</style>

</html>