<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <div th:object="${lineas}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                    role="alert">
                    <li th:each="err : ${#fields.hasAnyErrors()}" th:text="${err}"></li>
                </ul>
            </div>

            <form th:action="@{/autobus/linea}" method="post">
                <div class="form-group row">
                    <label th:for="linea" class="col-xl-4 col-sm-12 col-form-label" 
                           th:text="${'Seleccione el número de la linea para la parada: ' + parada.numParada + ' - ' + parada.calle}"></label>
                    <div class="col-sm-6">
                        <select id="linea"
                                name="linea"
                                class="form-control"
                                required>
                            <option th:each="linea : ${lineas}"
                                    th:text="${linea.id.identificador}"
                                    th:value="${linea.id.identificador + '#' + linea.id.orden}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" th:value="${'Buscar próximo autobus'}"
                               class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>