<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">

    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <div th:object="${paradas}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                    role="alert">
                    <li th:each="err : ${#fields.hasAnyErrors()}" th:text="${err}"></li>
                </ul>
            </div>

            <form th:action="@{/lineas/lista-lineas}" method="post">
                <div class="form-group row">
                    <label th:for="parada" class="col-xl-4 col-sm-12 col-form-label">Seleccione el número de la parada</label>
                    <div class="col-sm-6">
                        <select id="parada"
                                name="parada"
                                class="form-control"
                                th:errorclass="'form-control alert-danger'"
                                required>
                            <option th:each="parada : ${paradas}"
                                    th:text="${parada.numParada + ' - ' + parada.calle}"
                                    th:value="${parada.numParada}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" th:value="${'Buscar paradas'}"
                               class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>