<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Posición autobuses</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/paradas/lista-paradas}">Consulta posición</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()">
                    <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="dropdown show">
                    <a class="btn btn-outline-primary dropdown-toggle" href="#"
                       role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <form id="logoutForm" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();"
                                    type="submit">Sign Out
                            </button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="alert alert-success" th:if="${success != null}"
         th:text="${success}"></div>
    <div class="alert alert-danger" th:if="${error != null}"
         th:text="${error}"></div>
    <div class="alert alert-warning" th:if="${warning != null}"
         th:text="${warning}"></div>
    <div class="alert alert-info" th:if="${info != null}"
         th:text="${info}"></div>
</header>

<div class="container"></div>

<footer th:fragment="footer" class="container">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
</footer>
</body>
</html>